<div class="page-header">
  <h3>Welcome to Legato - where you keep ties with your best friends!</h3>
</div>

<a href="/dashboard" class="btn btn-lg btn-success">Dashboard</a>

<body>
<table>
<tr>
  <td>Sign In</td>
</tr>

<tr>
  <td>Sign Up</td>
</tr>

</table>
</body>

